body {font-family:Arial,Helvetica,sans-serif;background:#EBEBEB;}
img {border:0;}

label {width:6em;float:left;}
input, textarea, select {border:1px solid #aaa;background-color:#eee;}
fieldset {border:1px solid #aaa;}
a img {border:none;}
a, a:hover, a:visited {color:#00f; text-decoration:none;}	
:focus {outline:0;}

h1 {background:#8aabf5;text-align:center;border:2px solid #3c69cf;padding:0.3em 0;-moz-border-radius:15px;-webkit-border-radius:15px;-webkit-box-shadow: 3px 3px 5px #333;-moz-box-shadow: 3px 3px 5px #333;box-shadow: 3px 3px 5px #333;}
h1 a, h1 a:hover, h1 a:visited {color:#000; text-decoration:none;}
h2 {font-size:1.2em;}

.left {float:left;}
.right {float:right;}
.column {width:48%;}

.error {color: #f00;margin-left:1em;display:block;}
.notice {color: #00f;}

div#contenido {width:40em;margin:0 auto;background:#fff;padding:1em;-webkit-box-shadow: 3px 3px 5px #333;-moz-box-shadow: 3px 3px 5px #333;box-shadow: 3px 3px 5px #333;margin-bottom:1em;}
div#lateral {margin-left:15px;width:130px;position:absolute;}

#burndown_form {margin-top: 1em;clear:both;}
#comment_form {margin-top: 3em;clear:both;}

#menu {margin:0;}
#menu li {float:left;list-style:none;margin:0 1em 1em 1em;}
.limpiar {clear:both;}

fieldset {padding-top:1em;margin:0 1em 1em 1em;border:2px solid #3c69cf;-webkit-box-shadow: 3px 3px 5px #333;-moz-box-shadow: 3px 3px 5px #333;box-shadow: 3px 3px 5px #333;}
fieldset p{margin:0.5em 0;padding:0;} 
p.create-burndown {text-align:center;}
p.create-burndown input {border:3px solid #3c69cf;padding:1em 1.3em;font-size:1.2em;-moz-border-radius:15px;-webkit-border-radius:15px;cursor:pointer;}

div.fold div {height:3em;}

#content-footer {width:100%;float:left;background-color:#fff;border-top:2px solid #aaa;}
.version {font-size:1.2em;margin-left:1em;}

.more-options div.option {width:48%;float:left;height:2.5em;}

/* iPhone selectors */
.iPhoneCheckContainer{ position:relative; width:85px; height:27px; cursor:pointer; overflow:hidden;  }
.iPhoneCheckContainer input{ position:absolute; top:5px; left:30px;  }
.iPhoneCheckHandle{ display:block; height:27px; width:39px; cursor:pointer; position:absolute; top:0; left:0;  }
.iPhoneCheckHandle .iPhoneCheckHandleBG{ position:absolute; width:5px; height:100%; top:0; left:0; z-index:1;  }
.iPhoneCheckHandle .iPhoneCheckHandleSlider{ position:absolute; top:0; left:0; height:27px; width:39px; background:url(../imgs/iphone-checkboxes/iphone-selector.png) no-repeat; z-index:2;  }
label.iPhoneCheckLabelOn,label.iPhoneCheckLabelOff{ font-size:17px; line-height:17px; font-weight:bold; font-family:Helvetica Neue,Arial,Helvetica,sans-serif; text-transform:uppercase; cursor:pointer; display:block; height:22px; position:absolute; width:52px; top:0;  }
label.iPhoneCheckLabelOn{ color:#fff; background:url(../imgs/iphone-checkboxes/iphone-selector.png) no-repeat left -27px; text-shadow:0px 0px 2px rgba(0,0,0,0.6); left:0; padding:5px 0 0 8px;  }
label.iPhoneCheckLabelOff{ color:#8B8B8B; background:url(../imgs/iphone-checkboxes/iphone-selector.png) no-repeat right -54px; text-shadow:0px 0px 2px rgba(255,255,255,0.6); text-align:right; right:0; padding:5px 8px 0 0;  }
